@font-face {
	font-family: 'Funnel Display';
	src: url('assets/fonts/FunnelDisplay.ttf') format('truetype');
}

:root {
	--white: #F0F0F0;
	--whiteGray: #ECECEC;
	--lightGray: #BBBBBB;
	--gray: #808080;
	--darkGray: #424242;
	--blackGray: #242424;
	--black: #1E1E1E;
	--accent: #00AAFF;
	--accent2: #2878C1;
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Funnel Display', sans-serif;
}

/* SCROLLBAR PROPERTIES START ========================================= */
*::-webkit-scrollbar{
	width: 8px;
}
*::-webkit-scrollbar-track{
	background: transparent;
}
*::-webkit-scrollbar-thumb{
	background-color: #808080;
}
*::-webkit-scrollbar-thumb:hover{
	background-color: #606060;
}
*::-webkit-scrollbar-thumb:active{
	background-color: #404040;
}
/* =========================================== SCROLLBAR PROPERTIES END */

html {
	color: var(--white);
	background: var(--black);
	scroll-behavior: smooth;
}

a {
	text-decoration: underline;
	text-underline-offset: 3px;
	color: var(--white);
	font-weight: 500;
}

h1 {
	font-size: 20px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 16px;
}
h4 {
	font-size: 14px;
}
h5 {
	font-size: 12px;
}
h6 {
	font-size: 10px;
}

img {
	height: auto;
	width: 100%;
	border-radius: 2px;
}

input[type="text"], input[type="submit"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"], input[type="search"], input[type="url"], textarea {
	color: var(--white);
	background: #333333;
	font-size: 13px;
	padding: 9px 12px;
	border: none;
	outline: none;
}
input[type="text"], input[type="email"], input[type="password"], input[type="number"], input[type="tel"], input[type="search"], input[type="url"], textarea {
	min-width: 350px;
	height: 18px;
	line-height: 1.4;
	resize: none;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="search"]:focus, input[type="url"]:focus, textarea:focus {
	background: var(--darkGray);
}
input[type="text"][disabled], input[type="email"][disabled], input[type="password"][disabled], input[type="number"][disabled], input[type="tel"][disabled], input[type="search"][disabled], input[type="url"][disabled], textarea[disabled] {
	background: var(--blackGray);
	cursor: not-allowed;
}

button {
	color: var(--white);
	background: #333333;
	font-size: 13px;
	padding: 9px 12px;
	border: none;
	outline: none;
	cursor: pointer;
}
button:hover {
	background: var(--darkGray);
}
button[disabled] {
	background: var(--blackGray);
	cursor: not-allowed;
}


table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

table th, table td {
	padding: 4px 8px;
	border: 1px solid var(--gray);
}


#chatFormSubmitBtn {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
#chatForm:focus-within #chatFormSubmitBtn {
	background: var(--darkGray);
}
#chatFormSubmitBtn:hover {
	background: #333333;
}
#chatFormSubmitBtn[disabled] {
	background: var(--blackGray);
	cursor: not-allowed;
}

#chatFormVoiceBtn {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-right: 0.5px solid var(--darkGray);
}
#chatForm:focus-within #chatFormVoiceBtn {
	background: var(--darkGray);
	border-right: 0.5px solid #333333;
}
#chatFormVoiceBtn:hover {
	background: #333333;
}
#chatFormVoiceBtn[disabled] {
	background: var(--blackGray);
	cursor: not-allowed;
}


.titlebarButtons {
	display: flex;
	flex-direction: row;
}

.titlebarButtons button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25px;
	width: 35px;
	background: transparent;
	border: none;
	opacity: 0.8;
	color: var(--white);
	font-size: 12px;
	cursor: pointer;
	transition: 0.2s;
}

.titlebarButtons button:hover {
	opacity: 1;
	background: #FFFFFF1A;
	transition: 0.2s;
}

.titlebarButtons button svg {
	height: 12px;
	width: 12px;
}


.user-response {
	width: calc(100% - 80px);
	color: var(--white);
	padding: 30px 15px;
	font-size: 14px;
	word-break: break-word;
	border-top: 0.5px solid #303030;
}

.bot-response {
	width: calc(100% - 80px);
	color: var(--white);
	padding: 30px 15px;
	font-size: 14px;
	word-break: break-word;
	border-top: 0.5px solid #303030;
}

.error-response {
	width: calc(100% - 80px);
	color: #FF5050;
	background: #FF000014;
	padding: 30px 15px;
	font-size: 14px;
	word-break: break-word;
}


/* LOADER ANIMATION */
.spinner {
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}